.Vitalitycolor {
    background-color: #3fbace;
}

.Attractioncolor {
    background-color: #e3006d;
}

.Basicscolor {
    background-color: #78b142;
}

.Selfdevelopmentcolor {
    background-color: #f9a61a;
}

.Ambitioncolor {
    background-color: #a74d96;
}