@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
h1,
h2,
p,
a,
b {
    font-family: 'Montserrat', sans-serif;
}

#dataChart {
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 0.5rem;
    background-color: black;
    padding: 0.5rem;
}

#VitalityTitle {
    color: #3fbace;
}

#AttractionTitle {
    color: #e3006d;
}

#BasicsTitle {
    color: #78b142;
}

#SelfdevelopmentTitle {
    color: #f9a61a;
}

#AmbitionTitle {
    color: #a74d96;
}

.optionWrapper {
    padding: 0.5rem;
    border: black 1px solid;
}

.home-link {
    color: white !important;
    text-decoration: none;
}

a:hover {
    color: gray;
}