#category-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#individual-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
}

th{
    border: 1px solid #fa0;
    background-color: #fa0;
    text-align: left;
    padding: 8px;
}

td{
    border: 1px solid #fa0;
    text-align: left;
    padding: 8px;
}


@media (min-width: 992px) {
    .chartContainer {
        height: 100%;
    }
}