#category-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#individual-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid #fa0;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fa0;
}

@media (min-width: 992px) {
    .chartContainer {
        height: 100%;
    }
}